<div class="center jumbotron">
<H1>Demos</H1>
</div>
Sort by: <%= link_to('Name', :order => 'name') %>, <%= link_to('Most recent', order: 'created') %>, <%= link_to('Rating', order: 'rating') %> <P>
<% @demos.each do |d| %>
<%= d.name %><BR>
<%= link_to "Details", demo_path(d) %><P>
<% end %>
<%= link_to "New Demo", "/demos/new" %>
