<%= form_for(@demo) do |f| %>
<div class="field">
<%= f.label :content %>
 <%= f.text_field :content, :placeholder => "Content" %><br>
<%= f.label :materials %>
 <%= f.text_field :materials, :placeholder => "Materials" %>
</div>
<div class="actions">
<%= f.submit "Create" %>
</div>
<% end %>