<%= form_for(@demo) do |f| %>
<div class="field">
<%= f.label :content %>
 <%= f.text_field :content, :placeholder => "Content" %><br>
<%= f.label :materials %>
 <%= f.text_field :materials, :placeholder => "Materials" %>
<select name="post[author_id]">
    <% Subject.all.each do |s| %>
        <option value="<%= s.id %>"><%= s.topic %></option>
    <% end %>
</select>

</div>
<div class="actions">
<%= f.submit "Create" %>
</div>
<% end %>